<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet"
		href="/static/aboutus.css">
	<title>About Us Page</title>
</head>
<body>
	<!-- Header section -->
	<header>
		<nav>
			<div class="logo">
			MenuSnap
			</div>
			<ul class="nav-links">
				<li><a href="/">
				Home</a>
				</li>
			</ul>
		</nav>
	</header>
	<section class="about">
		<h1>About Us</h1>
		<p style="font-weight: bold">
		MenuSnap is a food ordering portal for DPU Canteen...
		</p>
		<div class="about-info">
			<div class="about-img">
				<img src="/static/images/bs/MEnuLogo.png" alt="menusnap-logo">
			</div>
			<div>
			<p> In the bustling world of online services, where convenience is key and time is of the essence, 
				Menu Snap emerges as the ultimate solution for canteen-goers everywhere. Imagine a platform 
				where you can effortlessly access your canteen's menu, make selections, and even place orders 
				with just a few clicks or taps. Welcome to the future of canteen dining – welcome to Menu Snap!
				At Menu Snap, we understand the challenges faced by both canteen owners and customers alike. 
				For canteen proprietors, managing menus, tracking orders, and ensuring customer satisfaction can 
				be a daunting task.
			</p>
			</div>
		</div>
	</section>
</body>
</html>