<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet"
		href="/static/htorder.css">
	<title>How to Order?</title>
</head>
<body>
	<!-- Header section -->
	<header>
		<nav>
			<div class="logo">
			MenuSnap
			</div>
			<ul class="nav-links">
				<li><a href="/">
				Home</a>
				</li>
			</ul>
		</nav>
	</header>
	<!-- About section -->
	<section class="about">
		<h1>How to Order ?</h1>
		<p style="font-weight: bold">
		MenuSnap is very easy to use...

		<div class="about-info">
			<div class="about-img">
				<img src="/static/images/Steps/step1.png" alt="step-1">
			</div>
			<div>
                
			<p> Step 1
			</p>
				</div>
		</div>

		</p>
		<div class="about-info">
			<div class="about-img">
				<img src="/static/images/Steps/step2.png" alt="step-2">
			</div>
			<div>
                
				<p> Step 2
				</p>
				</div>
		</div>

        <div class="about-info">
			<div class="about-img">
				<img src="/static/images/Steps/step3.png" alt="step-3">
			</div>
			<div>
				<p> Step 3
				</p>
				</div>
		</div>

        <div class="about-info">
			<div class="about-img">
				<img src="/static/images/Steps/step4.png" alt="step-4">
			</div>
			
			<div>

				<p> Step 4
				</p>
				</div>
		</div>
	</section>
</body>
</html>